@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html{
  @apply bg-zinc-900 text-white;
}

.ellipsis{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  @apply overflow-hidden whitespace-pre-wrap line-clamp-1;
}

.ellipsis-2{
  @apply line-clamp-2;
}

.full-line{
  @apply line-clamp-none;
}
.song-info *{
  float: none!important;
}
.song-info .tack_t{
  @apply mb-1 md:mb-2 font-semibold text-xl md:text-3xl block text-white/40;
}

.song-info .out_comp,
.song-info .tack_tit{
  @apply text-lg md:text-xl;
}

.song-info .brac{
  @apply mx-2;
}

.button-switcher input[type="radio"]:checked + label{
  @apply bg-orange-400;
}

.szh-accordion__item-btn{
  @apply w-full text-left text-lg;
}
.szh-accordion__item-content{
  @apply transition-all duration-200;
}
.szh-accordion__item-heading{
  @apply flex items-center py-1 md:py-1.5;
}
.szh-accordion__item-heading::after{
  content: '\f054';
  font: var(--fa-font-solid);
  @apply transition-all duration-200 inline-block text-xs flex-shrink-0;
}
.szh-accordion__item.szh-accordion__item--expanded > .szh-accordion__item-heading::after{
  @apply rotate-90;
}
.szh-accordion__item-panel{
  @apply space-y-1.5;
}

.custom-checkbox{
  position: relative;
}
.custom-checkbox:checked::after{
  content: '\f00c';
  font: var(--fa-font-solid);
  @apply text-xs absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}
